
@model  VendM.Model.DataModelDto.ButtonDto
@{
    ViewBag.Title = "Edit";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("form").validate();
    });
</script>

@using (Html.BeginForm())
{<div style=" margin:15px; border:1px">
    <div class="form-group">
        <label for="name">按钮名称</label>
        @*<input type="text" class="form-control" id="UserName" placeholder="请输入按钮名称" required>*@
        @Html.TextBoxFor(m => m.ButtonName, new { @class = "form-control", placeholder = "请输入按钮名称", required = "required" })
    </div>
    <div class="form-group">
        <label for="name">按钮图标</label>
        @*<input type="text" class="form-control" id="UserName" placeholder="请输入按钮图标" required>*@
        @Html.TextBoxFor(m => m.ButtonIocn, new { @class = "form-control", placeholder = "请输入按钮图标" })
    </div>
    <div class="form-group">
        <label for="name">按钮Code</label>
        @*<input type="text" class="form-control" id="UserName" placeholder="请输入按钮Code" required>*@
        @Html.TextBoxFor(m => m.ButtonCode, new { @class = "form-control", placeholder = "请输入按钮Code" })
    </div>
    <div class="form-group">
        <label for="name">按钮类型</label>
        @*<input type="text" class="form-control" id="UserName" placeholder="请输入按钮类型" required>*@
        @Html.TextBoxFor(m => m.InputType, new { @class = "form-control", placeholder = "请输入按钮类型", required = "required" })
    </div>

    <div class="form-group">
        <label for="name">按钮样式</label>
        @*<input type="text" class="form-control" id="UserName" placeholder="请输入按钮样式" required>*@
        @Html.TextBoxFor(m => m.ButtonStyle, new { @class = "form-control", placeholder = "请输入按钮样式" })
    </div>
    <div class="form-group">
        <label for="name">按钮状态</label>
        <select name="Status" id="Status" class="form-control" label="State:" labelPosition="top" style="width:100%;">
            <option value="N">正常</option>
            <option value="A">关闭</option>
        </select>
    </div>
    <div style="margin-left:70%">
        <button type="submit" class="btn btn-primary">提交</button>
    </div>
</div>
}






